.pagesHolder{
    margin-bottom: 10px;
}


.currentPage{
    font-weight: bold;
}

.notCurrentPage{
    text-decoration: underline;
}

.page{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}


.page:hover{
    color: #E8E8E8;
}