.myPosts{
    padding: 10px;
}

.addPost{
    display: flex;
    flex-direction: column;
}

.addPostHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addPostInput{
    background-color: #282727;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.addPostBtn{
    background-color: #282727;
    border: 1px solid black;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}