.app-wrapper {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-areas:
  'logo nav'
  'sideBar content';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100px 1fr;
  position: relative;
  font-size: 16px;

}

.content{
  grid-area: content;
}




