.nav{
    width: 95%;
    position: fixed;
    grid-area: nav;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(232, 232, 232, 0.5);
    background-color: #171717;
    z-index: 100;
}

.item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item a{
    display: block;
    transition: all .7s ease-in-out;
    width: 50%;
    text-align: center;

}

.item a:hover{
    padding-bottom: 10px;
    transform: scale(1.2);
    border-bottom: 5px solid rgba(232, 232, 232, 0.5);
}

.links{
    text-decoration: none;
    color: #E8E8E8;
    font-size: 20px;
}

